@import url(https://fonts.googleapis.com/css?family=Hind); /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile); /*--- Heading Font --*/
body{
margin:0;
padding:0;
border:0;
text-align: center;
background:#caebf2;
font-family: sans-serif;

}
.nav-outer{
	top:0px;
	padding-top:0px;
}
.contacting{
	margin-top: 220px;
	color:black;
	text-transform:uppercase;
	transition: all 4s ease-in-out;
}
.contacting h1{
	font-size:32px;
	line-height:10px;
}
form{
	margin-top:50px;
	transition: all 4s ease-in-out;
	
}
.form-control{
	width: 600px; 
	border: none;
	outline: none;
	border-bottom: 1px solid black;
	color:black;
	font-size: 18px;
	margin-bottom:16px;
	
}
input{
	height:45px;
	
	
}
form .submit{
	background: #ff5722;
	color:black;
	font-size:20px;
	font-weight: bold;
	letter-spacing:2px;
	height:50px;
	
	
}
form .submit:hover{
	background-color: #f44336;
	cursor:pointer;
	
}
footer{
	background:#262E37;
	width:100%;
	margin-top: 35%;
	padding:1% 0;
	overflow: auto;
	color:white;
}
footer p{
	color: white;
	text-align: left;
}
@media screen and (max-width: 860px){
	h1{
		font-size: 125%;
	}
	
}